/*INDEX INICIO*/
.section__inicio{     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    p {
        font-size: 1.2rem;
        text-align: left;
        width: 80%;
    }
    p:nth-child(2){
        margin-top: 10px;  
    }
    .imagen__inicio {
        display: flex;
        justify-content: end;
        
        img {
        width: 100%;
        max-width: 600px;
        height: auto;
        }
    }
}

.section__destacados{
    h2 {
    font-size: 2rem;
    margin: 10rem 0 1.5rem 0;
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1000px;
        margin: 0 auto;
        gap: 2rem;
        .producto{
            width: 300px;
            margin-bottom: 2rem;
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            button {
                display: block;
                width: 100%;
                padding: 0.5rem;
                background-color: #6200ea;
                color: white;
                border: none;
                cursor: pointer;
            }
            button:hover,.button__productos:hover  {
                background-color: #3700b3;
            }
            .button__productos--inicio{
                display: block;
                padding: 0.5rem;
                background-color: #6200ea;
                color: white;
                border: none;
                cursor: pointer;
                margin: 0 auto;
            }
        }
    }
}

/*FIN INDEX INICIO*/