.section__quehacemos {
    text-align: left;
    padding: 2rem 5rem;
    background-color: #dadada;
    border-radius: 10px;
    margin: 11rem auto 8rem auto;
    max-width: 1100px;
    align-items: center;
    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    ul{
        list-style-type: disc;
        padding-left: 1.5rem;
        li{
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }
    }
}